.app-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.app-container div {
  position: relative;
  width: calc(100% / 50);
  height: calc(100vh / 50);
  flex-grow: 0;
  box-sizing: border-box;
  border: 1px solid #000;
}

.app-container .live {
  background-color: black;
}

.app-container .died {
  background-color: white;
}
